{% extends 'loginapp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
<!-- Sweet Alert css -->
        <link href="{%static 'plugins/sweet-alert/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
<!-- Page title -->
{% block topbar %}
<!-- Page title -->
<ul class="nav navbar-nav list-inline navbar-left">
    <li class="list-inline-item">
        <button class="button-menu-mobile open-left">
            <i class="mdi mdi-menu"></i>
        </button>
    </li>
    <li class="list-inline-item">
        <h4 class="page-title">Application</h4>
    </li>
</ul>

<nav class="navbar-custom">
    <ul class="list-unstyled topbar-right-menu float-right mb-0">
        <li class="list-inline-item">
            <div class="create-app-button">
                <button data-toggle="modal" data-target="#add-channel-modal" type="button"
                        class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5"><i
                        class="fas fa-plus"></i> <span>Add Channel</span>
                </button>
            </div>
        </li>
        <li class="list-inline-item">
            <div class="app-list-select">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary btn-rounded dropdown-toggle waves-effect waves-light"
                            data-toggle="dropdown" aria-expanded="false">{{ app.name }}
                    </button>
                    <div class="dropdown-menu">
                        <!-- item-->
                        {% for option in apps %}
                        <a href="{% url 'app_detail' option.id %}" class="dropdown-item">{{ option.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>
{% endblock %}


{% block sidemenu %}
<li>
    <a href="{% url 'dashboard' %}" class="waves-effect"><i class="mdi mdi-web"></i><span> Your Apps </span>
    </a>
</li>

<li>
    <a href="{% url 'profile' %}" class="waves-effect"><i class="mdi mdi-account"></i><span> Your Profile </span>
    </a>
</li>

{% endblock %}


{% block content%}
<div class="row">
    <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong> {{ message }} </strong>
        </div>
        {% endif %}
        {% endfor %}

        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong> {{ message }} </strong>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-8">
        <div class="card-box">
            <div class="p-20">
                <form class="form-horizontal m-t-20" method="post" action="">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="id_name" class="col-md-2 col-form-label">Name</label>
                        <div class="col-md-10">
                            {% render_field form.name class='form-control' placeholder='Name' value=app.name %}
                            {% if form.name.errors %}
                            <ul class="parsley-errors-list filled">
                                {% for error in form.name.errors %}
                                <li class="">{{ error }}</li>
                                {% endfor%}
                            </ul>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="id_api_key" class="col-md-2 col-form-label">API Key</label>
                        <div class="col-md-6">
                            {% render_field form.api_key class='form-control' placeholder='API Key' readonly='readonly' value=app.api_key %}
                            {% if form.api_key.errors %}
                            <ul class="parsley-errors-list filled">
                                {% for error in form.api_key.errors %}
                                <li class="">{{ error }}</li>
                                {% endfor%}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-pink btn-block waves-effect waves-light" type="button"
                                    onclick="getApiKey()">
                                Generate Key
                            </button>
                        </div>
                    </div>

                    <div id="multi-callback-uri">
                        {% with callback_uris=app.callback_uri_as_list %}
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Callback URIs</label>
                            <div class="col-md-6">
                                <input name="callback_uris" class="form-control" data-parsley-pattern="https?://.+"
                                       placeholder="Callback URI" data-parsley-trigger="change" required=""
                                       maxlength="2047" data-parsley-error-message="This value should be a valid URI"
                                       value="{{ callback_uris.0 }}" type="text">
                            </div>
                            <div class="col-xs-1">
                                <button class="btn btn-icon btn-secondary m-b-5 m-l-10" type="button"
                                        onclick="duplicateInput(this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        {% for callback_uri in callback_uris|slice:"1:" %}
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label"></label>
                            <div class="col-md-6">
                                <input name="callback_uris" class="form-control" data-parsley-pattern="https?://.+"
                                       placeholder="Callback URI" data-parsley-trigger="change" required=""
                                       maxlength="2047" data-parsley-error-message="This value should be a valid URI"
                                       value="{{ callback_uri }}" type="text">
                            </div>
                            <div class="col-xs-1">
                                <button class="btn btn-icon btn-secondary m-b-5 m-l-10" type="button"
                                        onclick="duplicateInput(this)"><i class="fa fa-plus"></i></button>
                            </div>
                            <div class="col-xs-1 remove-input">
                                <button class="btn btn-icon btn-danger m-b-5 m-l-10" type="button"
                                        onclick="removeItself(this)"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        {% endfor %}
                        {% endwith %}
                    </div>

                    <div id="multi-allowed-ips">
                        {% with allowed_ips=app.allowed_ips_as_list %}
                        <div class="form-group row ">
                            <label class="col-md-2 col-form-label">Allowed IPs</label>
                            <div class="col-md-6">
                                <input name="allowed_ips" data-parsley-trigger="change"
                                       data-parsley-pattern="^(([0-9])+\.){3}([0-9])+$" class="form-control"
                                       required=""
                                       value="{{ allowed_ips.0 }}"
                                       data-parsley-error-message="This value should be a valid IP"
                                       placeholder="Allowed IPs" maxlength="127" type="text">

                            </div>
                            <div class="col-xs-1">
                                <button class="btn btn-icon btn-secondary m-b-5 m-l-10" type="button"
                                        onclick="duplicateInput(this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        {% for allowed_ip in allowed_ips|slice:"1:" %}
                        <div class="form-group row ">
                            <label class="col-md-2 col-form-label"></label>
                            <div class="col-md-6">
                                <input name="allowed_ips" data-parsley-trigger="change"
                                       data-parsley-pattern="^(([0-9])+\.){3}([0-9])+$" class="form-control" required=""
                                       value="{{ allowed_ip }}" data-parsley-error-message="This value should be a valid IP"
                                       placeholder="Allowed IPs" maxlength="127" type="text">

                            </div>
                            <div class="col-xs-1">
                                <button class="btn btn-icon btn-secondary m-b-5 m-l-10" type="button"
                                        onclick="duplicateInput(this)"><i class="fa fa-plus"></i></button>
                            </div>
                            <div class="col-xs-1 remove-input"><button class="btn btn-icon btn-danger m-b-5 m-l-10" type="button" onclick="removeItself(this)"> <i class="fa fa-minus"></i></button></div></div>
                        {% endfor %}
                        {% endwith %}
                    </div>
                    <div class="form-group row ">
                        <label for="id_description" class="col-md-2 col-form-label">Description</label>
                        <div class="col-md-10">
                            <textarea name="description" rows="10" class="form-control" placeholder="Description"
                                      id="id_description">{{ app.description }}</textarea>
                            {% if form.description.errors %}
                            <ul class="parsley-errors-list filled">
                                {% for error in form.description.errors %}
                                <li class="">{{ error }}</li>
                                {% endfor%}
                            </ul>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group text-center m-t-40 row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <button class="btn btn-success btn-block waves-effect waves-light"
                                    type="submit">
                                Update
                            </button>
                        </div>
                    </div>
                </form>
                <form method="POST" action="{% url 'delete_app' app.id %}">
                    {% csrf_token %}
                     <div class="form-group text-center m-t-40 row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <button class="btn btn-danger btn-block waves-effect waves-light"
                                    type="button" onclick="deleteConfirm(event)">
                                Delete This App
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% for channel in channels %}
        <div class="card-box project-box p-b-0">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                   aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- item-->
                    <a href="{% url 'channel_detail' app.id channel.id %}" class="dropdown-item">Detail And Edit</a>
                    <!-- item-->
                    <form method="POST" action="{% url 'delete_channel' app.id channel.id %}">
                        {% csrf_token %}
                    <button  class="dropdown-item" onclick="deleteConfirm(event)" type="submit" style="cursor: pointer">Delete</button>
                    </form>
                    <!-- item-->
                </div>
            </div>
            <h4 class="mt-0"><a href="{% url 'channel_detail' app.id channel.id %}" class="text-white">{{ channel.provider }}</a></h4>
            <hr>
            <ul class="text-primary list-inline m-b-0">
                <li class="list-inline-item">
                    <h5 class="m-b-5">Create Time</h5>
                    <p class="font-10"> {{ channel.created_at|date:'N j,Y' }}
                        <!--<small class="text-muted">{{ channel.created_at|date:'P' }}</small>-->
                    </p>
                </li>

                <li class="list-inline-item">
                    <h5 class="m-b-5">Last Modify</h5>
                    <p class="font-10"> {{ channel.modified_at|date:'N j,Y' }}
                        <!--<small class="text-muted">{{ channel.modified_at|date:'P' }}</small>-->
                    </p>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>

    <!--Add channel modal-->
    <div id="add-channel-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addChannelModal"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addChannelModal">New Channel</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form class="form-horizontal m-t-20" method="post" action="{% url 'add_channel' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-10">
                                {% render_field channel_form.app_id class='form-control' value=app.id %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id_provider" class="col-md-2 col-form-label">Provider</label>
                            <div class="col-md-10">
                                {% render_field channel_form.provider class='form-control' %}
                                {% if channel_form.provider.errors %}
                                <ul class="parsley-errors-list filled">
                                    {% for error in channel_form.provider.errors %}
                                    <li class="">{{ error }}</li>
                                    {% endfor%}
                                </ul>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id_client_id" class="col-md-2 col-form-label">Client ID</label>
                            <div class="col-md-10">
                                {% render_field channel_form.client_id class='form-control' placeholder='Client ID' %}
                                {% if channel_form.client_id.errors %}
                                <ul class="parsley-errors-list filled">
                                    {% for error in channel_form.client_id.errors %}
                                    <li class="">{{ error }}</li>
                                    {% endfor%}
                                </ul>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id_client_secret" class="col-md-2 col-form-label">Client Secret</label>
                            <div class="col-md-10">
                                {% render_field channel_form.client_secret class='form-control' placeholder='Client Secret' %}
                                {% if channel_form.client_secret.errors %}
                                <ul class="parsley-errors-list filled">
                                    {% for error in channel_form.client_secret.errors %}
                                    <li class="">{{ error }}</li>
                                    {% endfor%}
                                </ul>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row ">
                            <label for="id_permission" class="col-md-2 col-form-label">Permission</label>
                            <div class="col-md-10">
                                <div id="checkbox-error"></div>
                                {% for provider in providers %}
                                <div class="provider-permission checkbox-handler-error" id="id-{{ provider.id }}" style="display: none;">
                                    {% for permission in provider.permission_as_list %}
                                    <div class="checkbox checkbox-pink">
                                        <input id="{{ permission }}" name="permission" data-parsley-multiple="groups"
                                               data-parsley-mincheck="1"
                                               type="checkbox" value="{{ permission }}" required disabled
                                               data-parsley-errors-container="#checkbox-error"
                                               data-parsley-error-message="Permission value is required."
                                               data-parsley-class-handler=".checkbox-handler-error">
                                        <label class="" for="{{ permission }}"> {{ permission }} </label>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Add Channel</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="clearfix"></div>
</div>
<!--/ meta -->
{% endblock %}

{% block js %}
<!-- Validation form-->
<script type="text/javascript" src="{% static 'plugins/parsleyjs/dist/parsley.min.js' %}"></script>
<!-- Sweet Alert Js  -->
<script src="{% static 'plugins/sweet-alert/sweetalert2.min.js' %} "></script>
<!--&lt;!&ndash; Modal-Effect &ndash;&gt;-->
<!--<script src="assets/plugins/custombox/dist/custombox.min.js"></script>-->
<!--<script src="assets/plugins/custombox/dist/legacy.min.js"></script>-->

<!--My js-->
<script type="text/javascript">
$(document).ready(function() {
    $('#id-'+ $('#id_provider').val()).show();
    $('#id-'+ $('#id_provider').val()+' input').prop('disabled', false);
    $('#id_provider').change(function(){
        $('.provider-permission').hide();

        $('.provider-permission input').prop("checked", false)
        $('.provider-permission input').prop('disabled', true)

        $('#id-'+ $('#id_provider').val()).show();
        $('#id-'+ $('#id_provider').val()+' input').prop('disabled', false);
    })
    $('form').parsley({excluded: 'input[disabled]'});
});

function getApiKey(){
//$('#img-loading').show()
$.ajax({
    url: '{% url 'get_api_key' %}',
    data: {},
    type: 'get',
    cache: false,
    success: function(key){
        $('#id_api_key').val(key)
        //$('#img-loading').hide()
    },
    error: function(message){
        alert("get api-key failed!")
        //$('#img-loading').hide()
    }
})
}
function deleteConfirm(event){
    event.preventDefault();
    var form = event.target.form;
    swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#4fa7f3',
                cancelButtonColor: '#d57171',
                confirmButtonText: 'Yes, delete it!'
            }).then(function () {
            form.submit();
                swal(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                );
            });

}
function duplicateInput(element){
    var element_container = $(element).parent().parent().parent()
    if (element_container.find('input').length < 5){
        var input = $(element).parent().parent().clone()
        input.children('label').empty()

        if (input.has('button i.fa-minus').length == 0 ){
            input.append('<div class="col-xs-1 remove-input"><button class="btn btn-icon btn-danger m-b-5 m-l-10" type="button" onclick="removeItself(this)"> <i class="fa fa-minus"></i></button></div>')
        }

        element_container.append(input)
    }
}

function removeItself(element){
    var input = $(element).parent().parent()
    input.remove()
}
</script>
{% endblock %}