{% extends 'loginapp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
<!-- Sweet Alert css -->
        <link href="{%static 'plugins/sweet-alert/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
<!-- Page title -->
{% block topbar %}
<!-- Page title -->
<li class="list-inline-item">
    <h4 class="page-title">Application</h4>
</li>
<ul class="list-unstyled topbar-right-menu float-right mb-0">
    <li class="list-inline-item">
        <div class="dropdown app-list-select">
            <button type="button" class="btn btn-primary dropdown-toggle waves-effect waves-light"
                    data-toggle="dropdown" aria-expanded="false">{{ app.name }}
            </button>
            <div class="dropdown-menu app-navigation">
                <!-- item-->
                {% for option in apps %}
                <a href="{% url 'app_detail' option.id %}" class="dropdown-item">{{ option.name }}</a>
                {% endfor %}
            </div>
        </div>
    </li>
</ul>
{% endblock %}

{% block sidemenu %}
{% include 'loginapp/app_menu.html' %}
{% endblock %}

{% block content%}
<div class="row">
    <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong> {{ message }} </strong>
        </div>
        {% endif %}
        {% endfor %}

        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong> {{ message }} </strong>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-12">
        <div class="card-box">
            <div class="p-20">
                <div class="form-group row">
                    <label class="col-md-2"><h5 class="text-danger font-600">App ID:</h5></label>
                    <div class="col-md-8">
                        <h5><span class="badge badge-secondary"> <strong>{{ app.id }}</strong></span></h5>
                    </div>
                </div>
                <form class="form-horizontal m-t-20" method="post" action="">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="id_name" class="col-md-2 col-form-label label-required">Name</label>
                        <div class="col-md-8">
                            {% render_field form.name class='form-control' placeholder='Name' value=app.name %}
                            {% if form.name.errors %}
                            <ul class="parsley-errors-list filled">
                                {% for error in form.name.errors %}
                                <li class="">{{ error }}</li>
                                {% endfor%}
                            </ul>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="id_api_key" class="col-md-2 col-form-label label-required">API Key</label>
                        <div class="col-md-6">
                            {% render_field form.api_key class='form-control' placeholder='API Key' readonly='readonly' value=app.api_key %}
                            {% if form.api_key.errors %}
                            <ul class="parsley-errors-list filled">
                                {% for error in form.api_key.errors %}
                                <li class="">{{ error }}</li>
                                {% endfor%}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-danger btn-block waves-effect waves-light" type="button"
                                    onclick="generateKeyConfirm()">
                                Generate Key
                            </button>
                        </div>
                    </div>

                    <div id="multi-callback-uri">
                        {% with callback_uris=app.callback_uris_as_list %}
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label"><span class="label-required">Callback URIs</span>
                            <i class="fas fa-question-circle" data-toggle="tooltip"
                                         data-placement="right" title="" data-original-title="Callback URIs is ..."></i></label>
                            <div class="col-md-6">
                                <input name="callback_uris" class="form-control" data-parsley-pattern="https?://.+"
                                       placeholder="Callback URI" data-parsley-trigger="change" required=""
                                       maxlength="2047" data-parsley-error-message="This value should be a valid URI"
                                       value="{{ callback_uris.0 }}" type="text">
                            </div>
                            <div class="col-xs-1">
                                <button class="btn btn-icon btn-secondary m-b-5 m-l-10" type="button"
                                        onclick="duplicateInput(this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        {% for callback_uri in callback_uris|slice:"1:" %}
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label"></label>
                            <div class="col-md-6">
                                <input name="callback_uris" class="form-control" data-parsley-pattern="https?://.+"
                                       placeholder="Callback URI" data-parsley-trigger="change" required=""
                                       maxlength="2047" data-parsley-error-message="This value should be a valid URI"
                                       value="{{ callback_uri }}" type="text">
                            </div>
                            <div class="col-xs-1">
                                <button class="btn btn-icon btn-secondary m-b-5 m-l-10" type="button"
                                        onclick="duplicateInput(this)"><i class="fa fa-plus"></i></button>
                            </div>
                            <div class="col-xs-1 remove-input">
                                <button class="btn btn-icon btn-danger m-b-5 m-l-10" type="button"
                                        onclick="removeItself(this)"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        {% endfor %}
                        {% endwith %}
                    </div>

                    <div id="multi-allowed-ips">
                        {% with allowed_ips=app.allowed_ips_as_list %}
                        <div class="form-group row ">
                            <label class="col-md-2 col-form-label">Allowed IPs
                            <i class="fas fa-question-circle" data-toggle="tooltip"
                                         data-placement="right" title="" data-original-title="Allowed IPs is ..."></i></label>
                            <div class="col-md-6">
                                <input name="allowed_ips" data-parsley-trigger="change"
                                       data-parsley-pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" class="form-control"
                                       value="{{ allowed_ips.0 }}"
                                       data-parsley-error-message="This value should be a valid IP"
                                       placeholder="Allowed IPs" maxlength="127" type="text">

                            </div>
                            <div class="col-xs-1">
                                <button class="btn btn-icon btn-secondary m-b-5 m-l-10" type="button"
                                        onclick="duplicateInput(this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        {% for allowed_ip in allowed_ips|slice:"1:" %}
                        <div class="form-group row ">
                            <label class="col-md-2 col-form-label"></label>
                            <div class="col-md-6">
                                <input name="allowed_ips" data-parsley-trigger="change"
                                       data-parsley-pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" class="form-control"
                                       value="{{ allowed_ip }}" data-parsley-error-message="This value should be a valid IP"
                                       placeholder="Allowed IPs" maxlength="127" type="text">

                            </div>
                            <div class="col-xs-1">
                                <button class="btn btn-icon btn-secondary m-b-5 m-l-10" type="button"
                                        onclick="duplicateInput(this)"><i class="fa fa-plus"></i></button>
                            </div>
                            <div class="col-xs-1 remove-input"><button class="btn btn-icon btn-danger m-b-5 m-l-10" type="button" onclick="removeItself(this)"> <i class="fa fa-minus"></i></button></div></div>
                        {% endfor %}
                        {% endwith %}
                    </div>
                    <div class="form-group row ">
                        <label for="id_description" class="col-md-2 col-form-label">Description</label>
                        <div class="col-md-8">
                            <textarea name="description" rows="10" class="form-control" placeholder="Description"
                                      id="id_description">{{ app.description }}</textarea>
                            {% if form.description.errors %}
                            <ul class="parsley-errors-list filled">
                                {% for error in form.description.errors %}
                                <li class="">{{ error }}</li>
                                {% endfor%}
                            </ul>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group text-center m-t-40 row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button class="btn btn-success btn-block waves-effect waves-light"
                                    type="submit">
                                Update
                            </button>
                        </div>
                    </div>
                </form>
                <form method="POST" action="{% url 'delete_app' app.id %}">
                    {% csrf_token %}
                     <div class="form-group text-center m-t-40 row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button class="btn btn-secondary btn-block waves-effect waves-light"
                                    type="button" onclick="deleteConfirm(event)">
                                Delete This App
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}

{% block js %}
<!-- Validation form-->
<script type="text/javascript" src="{% static 'plugins/parsleyjs/dist/parsley.min.js' %}"></script>
<!-- Sweet Alert Js  -->
<script src="{% static 'plugins/sweet-alert/sweetalert2.min.js' %} "></script>
<!--My js-->
<script type="text/javascript">
$(document).ready(function() {
    $('form').parsley();
});
function getApiKey(){
//$('#img-loading').show()
$.ajax({
    url: '{% url 'get_api_key' %}',
    data: {},
    type: 'get',
    cache: false,
    success: function(key){
        $('#id_api_key').val(key)
        //$('#img-loading').hide()
    },
    error: function(message){
        alert("get api-key failed!")
        //$('#img-loading').hide()
    }
})
}
function deleteConfirm(event){
    event.preventDefault();
    var form = event.target.form;
    swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                cancelButtonColor: '#4fa7f3',
                confirmButtonColor: '#98a6ad',
                reverseButtons: true,
                confirmButtonText: 'Yes, delete it!',
                onOpen: function(ele) {
                    $('.swal2-cancel').focus()
                }
            }).then(function () {
            form.submit();
                swal(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                );
            });

}
function generateKeyConfirm(event){
    //event.preventDefault();
    swal({
                text: 'Do you want to generate a new key?',
                type: 'info',
                showCancelButton: true,
                cancelButtonColor: '#4fa7f3',
                confirmButtonColor: '#98a6ad',
                reverseButtons: true,
                confirmButtonText: 'Yes',
                onOpen: function(ele) {
                    $('.swal2-cancel').focus()
                }
            }).then(function () {
                getApiKey()
            });

}
function duplicateInput(element){
    var element_container = $(element).parent().parent().parent()
    var num_input = element_container.find('input').length
    if ( num_input < 5){
        var input = $(element).parent().parent().clone()
        input.children('label').empty()

        if (input.has('button i.fa-minus').length == 0 ){
            input.append('<div class="col-xs-1 remove-input"><button class="btn btn-icon btn-danger m-b-5 m-l-10" type="button" onclick="removeItself(this)"> <i class="fa fa-minus"></i></button></div>')
        }
        input.find('input').first().attr('id', element_container.find('input').first().attr('id')+'-'+num_input)
        input.find('input').first().val("")
        element_container.append(input)
    }
}

function removeItself(element){
    var input = $(element).parent().parent()
    input.remove()
}
</script>
{% endblock %}