<li>
    <a href="{% url 'profile' %}" class="waves-effect"><i class="mdi mdi-account"></i><span> Your Profile </span>
    </a>
</li>
<li>
    <a href="{% url 'dashboard'%}" class="waves-effect"><i class="mdi mdi-apps"></i>
        <span> Your Apps </span> </a>
</li>
{% for app in apps %}
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-layers"></i><span style="text-transform: capitalize;"> {{ app.name }} </span>
        <i class="fa fa-angle-down menu-narrow"></i>
    </a>
    <ul class="list-unstyled">
        <li class="li-left-menu"><a href="{% url 'report_app' app.id %}">App Dashboard</a></li>
        <li class="li-left-menu"><a href="{% url 'statistic_login' app.id %}">User Statistic</a></li>
        <li class="li-left-menu"><a href="{% url 'channel_list' app.id %}">Edit Channel</a></li>
        <li class="li-left-menu"><a href="{% url 'app_detail' app.id %}">Edit App</a></li>
    </ul>
</li>
{% endfor %}
