{% extends 'loginapp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
<!-- Sweet Alert css -->
        <link href="{%static 'plugins/sweet-alert/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
<!-- Page title -->
{% block topbar %}
<!-- Page title -->
<ul class="nav navbar-nav list-inline navbar-left" style="flex-direction: unset">
    <li class="list-inline-item">
        <button class="button-menu-mobile open-left">
            <i class="mdi mdi-menu"></i>
        </button>
    </li>
    <li class="list-inline-item">
        <h4 class="page-title">Channel</h4>
    </li>
    <li class="list-inline-item">
        <div class="create-app-button">
            <a href="{% url 'channel_list' app.id %}"
               class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5"><i
                    class="mdi mdi-keyboard-backspace"></i> <span>Back</span>
            </a>
        </div>
    </li>
</ul>

<nav class="navbar-custom">
    <ul class="list-unstyled topbar-right-menu float-right mb-0">
        <li class="list-inline-item">
            <div class="channel-list-select">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary btn-rounded dropdown-toggle waves-effect waves-light"
                            data-toggle="dropdown" aria-expanded="false">{{ channel.provider }}
                    </button>
                    <div class="dropdown-menu">
                        <!-- item-->
                        {% for option in channels %}
                        <a href="{% url 'channel_detail' app.id option.id %}" class="dropdown-item">{{ option.provider }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>
{% endblock %}


{% block sidemenu %}
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect active"><i class="mdi mdi-square"></i><span style="text-transform: capitalize;"> {{ app.name }} </span>
        <i class="fa fa-angle-down menu-narrow"></i>
    </a>
    <ul class="list-unstyled sub-menu-app">
        <li><a href="#">App Dashboard</a></li>
        <li><a href="{% url 'statistic_login' app.id %}">User Statistic</a></li>
        <li class="active"><a href="{% url 'channel_list' app.id %}">Edit Channel</a></li>
        <li><a href="{% url 'app_detail' app.id %}">Edit App</a></li>
    </ul>
</li>
<li>
    <a href="{% url 'profile' %}" class="waves-effect"><i class="mdi mdi-account"></i><span> Your Profile </span>
    </a>
</li>

{% endblock %}


{% block content%}
<div class="row">
    <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong> {{ message }} </strong>
        </div>
        {% endif %}
        {% endfor %}

        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong> {{ message }} </strong>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-12">
        <div class="card-box">
                <form class="form-horizontal m-t-20" method="post" action="">
                    {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-md-10">
                                {% render_field form.app_id class='form-control' value=app.id %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id_provider" class="col-md-2 col-form-label">Provider</label>
                            <div class="col-md-8">
                                <select name="provider" id="id_provider" value="{{ channel.provider }}" class="form-control">
                                    {% for provider in providers %}
                                    <option value="{{ provider.id }}" {% if provider.id == channel.provider %} selected{% endif %}>{{ provider.id}}</option>
                                    {% endfor %}
                                </select>
                                {% if form.provider.errors %}
                                <ul class="parsley-errors-list filled">
                                    {% for error in form.provider.errors %}
                                    <li class="">{{ error }}</li>
                                    {% endfor%}
                                </ul>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id_client_id" class="col-md-2 col-form-label">Client ID</label>
                            <div class="col-md-8">
                                {% render_field form.client_id class='form-control' placeholder='Client ID' value=channel.client_id %}
                                {% if form.client_id.errors %}
                                <ul class="parsley-errors-list filled">
                                    {% for error in form.client_id.errors %}
                                    <li class="">{{ error }}</li>
                                    {% endfor%}
                                </ul>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id_client_secret" class="col-md-2 col-form-label">Client Secret</label>
                            <div class="col-md-8">
                                {% render_field form.client_secret class='form-control' placeholder='Client Secret' value=channel.client_secret %}
                                {% if form.client_secret.errors %}
                                <ul class="parsley-errors-list filled">
                                    {% for error in form.client_secret.errors %}
                                    <li class="">{{ error }}</li>
                                    {% endfor%}
                                </ul>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row ">
                            <label for="id_permission" class="col-md-2 col-form-label">Permission</label>
                            <div class="col-md-8">
                                 <div id="checkbox-error"></div>
                                {% with channel_permissions=channel.permissions_as_list %}
                                {% for provider in providers %}
                                {% with permissions_required=provider.permissions_required_as_list %}
                                <div class="provider-permission {% if not permissions_required %}checkbox-handler-error{% endif %}" id="id-{{ provider.id }}" style="display:none;">
                                        {% for permission in provider.permissions_as_list %}
                                        {% if permission not in permissions_required %}
                                        <div class="checkbox checkbox-pink">
                                            <input id="{{ provider.id }}-{{ permission }}" name="permission"
                                                   type="checkbox" value="{{ permission }}"
                                                   data-parsley-multiple="permission"
                                                   data-parsley-mincheck="1"
                                                   data-parsley-errors-container="#checkbox-error"
                                                   data-parsley-error-message="Permission value is required."
                                                   data-parsley-class-handler=".checkbox-handler-error"
                                                   {% if permission in channel_permissions and channel.provider == provider.id %} checked{% endif %}
                                                   required disabled>
                                            <label class="" for="{{ provider.id }}-{{ permission }}"> {{ permission }} </label>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                </div>
                                {% endwith %}
                                <div class="provider-permission-required" id="id-{{ provider.id }}-required" style="display:none;">
                                    {% for permission in provider.permissions_required_as_list %}
                                    <div class="checkbox">
                                        <input class="permission-required" id="{{ provider.id }}-{{ permission }}" name="permission"
                                               type="checkbox" value="{{ permission }}" disabled checked readonly onclick="return false;"
                                                data-parsley-excluded="true" >
                                        <label class="" for="{{ provider.id }}-{{ permission }}"> {{ permission }} </label>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    <div class="form-group text-center m-t-40 row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button class="btn btn-success btn-block waves-effect waves-light"
                                    type="submit">
                                Update
                            </button>
                        </div>
                    </div>
                </form>
                <form method="POST" action="{% url 'delete_channel' app.id channel.id %}">
                 {% csrf_token %}
                     <div class="form-group text-center m-t-40 row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button id="sa-warning" href="{% url 'delete_channel' app.id channel.id %}"
                               class="btn btn-danger btn-block waves-effect waves-light" onclick="deleteConfirm(event)"
                               type="submit">
                                Delete This Channel
                            </button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--/ meta -->
{% endblock %}

{% block js %}
<!-- Validation form-->
<script type="text/javascript" src="{% static 'plugins/parsleyjs/dist/parsley.min.js' %}"></script>
<!-- Sweet Alert Js  -->
<script src="{% static 'plugins/sweet-alert/sweetalert2.min.js' %} "></script>
<!--My js-->
<script type="text/javascript">
$(document).ready(function() {
    $('form').parsley({excluded: '[disabled]'});
    $('#id-'+ $('#id_provider').val()).show();
    $('#id-'+ $('#id_provider').val()+'-required').show();
    $('#id-'+ $('#id_provider').val()+' input').prop('disabled', false);
    $('#id-'+ $('#id_provider').val()+'-required input').prop('disabled', false);
    $('#id_provider').change(function(){
        $('.provider-permission').hide();
        $('.provider-permission-required').hide();

        $('.provider-permission input').prop("checked", false)
         $('.provider-permission-required input').prop("checked", false)
        $('.provider-permission input').prop('disabled', true)
        $('.provider-permission-required input').prop('disabled', true)

        if ($('#id-'+ $('#id_provider').val()).attr('class').includes('checkbox-handler-error')){
            $('#checkbox-error').show();
        }
        else{
            $('#checkbox-error').hide();
        }
        $('#id-'+ $('#id_provider').val()).show();
        $('#id-'+ $('#id_provider').val()+'-required').show();
        $('#id-'+ $('#id_provider').val()+' input').prop('disabled', false);
        $('#id-'+ $('#id_provider').val()+'-required input').prop('disabled', false);
        $('#id-'+ $('#id_provider').val()+'-required input').prop('checked', true);
    })
    $('.sub-menu-app').show('slow');
});

function getApiKey(){
//$('#img-loading').show()
$.ajax({
    url: '{% url 'get_api_key' %}',
    data: {},
    type: 'get',
    cache: false,
    success: function(key){
        $('#id_api_key').val(key)
        //$('#img-loading').hide()
    },
    error: function(message){
        alert("get api-key failed!")
        //$('#img-loading').hide()
    }
})
}

function deleteConfirm(event){
    event.preventDefault();
    var form = event.target.form;
    swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d57171',
                cancelButtonColor: '#4fa7f3',
                confirmButtonText: 'Yes, delete it!'
            }).then(function () {
            form.submit();
                swal(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                );
            });

}
</script>
{% endblock %}