{% extends 'loginapp/base.html' %}
<!-- Page title -->
{% block topbar%}

<ul class="nav navbar-nav list-inline navbar-left">
    <li class="list-inline-item">
        <button class="button-menu-mobile open-left">
            <i class="mdi mdi-menu"></i>
        </button>
    </li>
    <li class="list-inline-item">
        <div class="create-app-button">
            <a href="{% url 'add_app' %}" type="button"
               class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5"><i
                    class="fas fa-plus"></i> <span>Add Application</span>
            </a>
        </div>
    </li>
</ul>

<nav class="navbar-custom">

    <ul class="list-unstyled topbar-right-menu float-right mb-0">

        <li class="hide-phone">
            <form class="app-search">
                <input type="text" placeholder="Search..."
                       class="form-control">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </li>

    </ul>
</nav>
{% endblock %}


{% block sidemenu %}
<li>
    <a href="{% url 'dashboard' %}" class="waves-effect"><i class="mdi mdi-web"></i><span> Your Apps </span>
    </a>
</li>

<li>
    <a href="{% url 'profile' %}" class="waves-effect"><i class="mdi mdi-account"></i><span> Your Profile </span>
    </a>
</li>

{% endblock %}

{% block content%}
<div class="row">
    <div class="col-sm-4">
        <!--<button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-20">Create Project-->
        <!--</button>-->
    </div>
    <div class="col-sm-8 m-b-20">
        <div class="project-sort pull-right">
            <div class="project-sort-item">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Sort :</label>
                        <select class="form-control ml-2 form-control-sm">
                            <option>Date</option>
                            <option>Name</option>
                            <option>Date Created </option>
                            <option>Date Modified</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- end col-->
</div>
<!-- end row -->


<div class="row">
    {% for app in apps %}
    <div class="col-md-4">
        <div class="card-box project-box p-b-0">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- item-->
                    <a href="{% url 'app_detail' app.id %}" class="dropdown-item">Detail And Edit</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Delete</a>
                    <!-- item-->
                </div>
            </div>
            <h4 class="mt-0"><a href="{% url 'app_detail' app.id %}" class="text-white">{{ app.name }}</a></h4>
            <p class="text-muted font-13 app-description">{{ app.description }}
            </p>
            <div class="text-left m-t-20">
                <p class="text-muted font-13"><strong>Callback URI :</strong> <span class="m-l-15">{{ app.callback_uri }}</span>
                </p>
                <p class="text-muted font-13"><strong>Allowed APs</strong><span
                        class="m-l-15">{{ app.allowed_ips }}</span></p>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <h3 class="mb-0">87</h3>
                    <p class="text-danger">Channel</p>
                </li>
            </ul>
            <hr>
            <ul class="text-primary list-inline m-b-0">
                <li class="list-inline-item">
                    <h5 class="m-b-5">Create Time</h5>
                    <p> {{ app.created_at|date:'N j,Y' }}
                        <small class="text-muted">{{ app.created_at|date:'P' }}</small>
                    </p>
                </li>

                <li class="list-inline-item">
                    <h5 class="m-b-5">Last Modify</h5>
                    <p> {{ app.modified_at|date:'N j,Y' }}
                        <small class="text-muted">{{ app.modified_at|date:'P' }}</small>
                    </p>
                </li>
            </ul>
        </div>
    </div><!-- end col-->
    {% endfor %}
</div>
<!-- end row -->
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
   $(".app-description").each(function(){
        len = $(this).text().length;
        if (len > 100) {
            $(this).html($(this).text().substr(0, 100) + '...<a href="#" class="font-600 text-muted">view more</a>');
        }
    });
});
</script>
{% endblock %}