{% extends 'loginapp/base.html' %}
<!-- Page title -->
{% load static %}
{% block css %}
<!-- Sweet Alert css -->
        <link href="{%static 'plugins/sweet-alert/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block topbar%}

<ul class="nav navbar-nav list-inline navbar-left">
    <li class="list-inline-item">
        <button class="button-menu-mobile open-left">
            <i class="mdi mdi-menu"></i>
        </button>
    </li>
    <li class="list-inline-item">
        <div class="create-app-button">
            <a href="{% url 'add_app' %}"
               class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5"><i
                    class="fas fa-plus"></i> <span>Add Application</span>
            </a>
        </div>
    </li>
</ul>

<nav class="navbar-custom">

    <ul class="list-unstyled topbar-right-menu float-right mb-0">

        <li class="hide-phone">
            <form class="app-search" method="GET" action="{% url 'dashboard' %}">
                <input type="text" placeholder="Search..."
                       class="form-control">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </li>

    </ul>
</nav>
{% endblock %}


{% block sidemenu %}
<li>
    <a href="{% url 'dashboard' %}" class="waves-effect"><i class="mdi mdi-web"></i><span> Your Apps </span>
    </a>
</li>

<li>
    <a href="{% url 'profile' %}" class="waves-effect"><i class="mdi mdi-account"></i><span> Your Profile </span>
    </a>
</li>

{% endblock %}

{% block content%}
<div class="row">
    <div class="col-sm-4">
        <!--<button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-20">Create Project-->
        <!--</button>-->
    </div>
    <div class="col-sm-8 m-b-20">
        <div class="app-sort pull-right">
            <div class="app-sort-item">
                <form class="form-inline">
                    <div class="form-group select-order-by">
                        <label>Sort :</label>
                        <select class="form-control ml-2 form-control-sm" onchange="location = this.value;">
                            <option value="{% url 'dashboard' %}?order_by=-created_at">Date Created </option>
                            <option value="{% url 'dashboard' %}?order_by=-modified_at">Date Modified</option>
                            <option value="{% url 'dashboard' %}?order_by=name">Name</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- end col-->
</div>
<!-- end row -->


<div class="row">
    <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong> {{ message }} </strong>
        </div>
        {% endif %}
        {% endfor %}

        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong> {{ message }} </strong>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    {% for app in apps %}
    <div class="col-md-4">
        <div class="card-box project-box p-b-0">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- item-->
                    <a href="{% url 'app_detail' app.id %}" class="dropdown-item">Edit</a>
                    <!-- item-->
                    <form method="POST" action="{% url 'delete_app' app.id %}">
                        {% csrf_token %}
                    <button  class="dropdown-item" onclick="deleteConfirm(event)" type="submit" style="cursor: pointer">Delete</button>
                    </form>
                    <!-- item-->
                </div>
            </div>
            <h4 class="mt-0"><a href="{% url 'app_detail' app.id %}" class="text-white">{{ app.name }}</a></h4>
            <p class="text-muted font-13 app-description">{{ app.description }}
            </p>
            <div class="text-left m-t-20">
                <p class="text-muted font-13"><strong>Callback URIs :</strong> <span class="m-l-15">{{ app.callback_uris }}</span>
                </p>
                <p class="text-muted font-13"><strong>Allowed APs</strong><span
                        class="m-l-15">{{ app.allowed_ips }}</span></p>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <h3 class="mb-0">{{ app.get_number_of_channels }}</h3>
                    <p class="text-danger">Channel</p>
                </li>
            </ul>
            <hr>
            <ul class="text-primary list-inline m-b-0">
                <li class="list-inline-item">
                    <h5 class="m-b-5">Create Time</h5>
                    <p> {{ app.created_at|date:'N j,Y' }}
                        <small class="text-muted">{{ app.created_at|date:'P' }}</small>
                    </p>
                </li>

                <li class="list-inline-item">
                    <h5 class="m-b-5">Last Modify</h5>
                    <p> {{ app.modified_at|date:'N j,Y' }}
                        <small class="text-muted">{{ app.modified_at|date:'P' }}</small>
                    </p>
                </li>
            </ul>
        </div>
    </div><!-- end col-->
    {% endfor %}
</div>
<!-- end row -->
{% endblock %}

{% block js %}
<!-- Sweet Alert Js  -->
<script src="{% static 'plugins/sweet-alert/sweetalert2.min.js' %} "></script>
<script type="text/javascript">
$(document).ready(function() {
   {% if request.GET.order_by %}
   $(".select-order-by select").val("{% url 'dashboard' %}?order_by={{ request.GET.order_by }}")
   {% else %}
   $(".select-order-by select").val("{% url 'dashboard' %}?order_by=-modified_at")
   {% endif %}
   $(".app-description").each(function(){
        len = $(this).text().length;
        if (len > 100) {
            $(this).html($(this).text().substr(0, 100) + '...<a href="#" class="font-600 text-muted">view more</a>');
        }
    });
});

function deleteConfirm(event){
    event.preventDefault();
    var form = event.target.form;
    swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#4fa7f3',
                cancelButtonColor: '#d57171',
                confirmButtonText: 'Yes, delete it!'
            }).then(function () {
            form.submit();
                swal(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                );
            });
}
</script>
{% endblock %}