{% extends 'loginapp/base_nomenu.html' %}
{% block content %}
         <div class="wrapper-page">
            <div class="text-center">
                <a href="index.html" class="logo"><span>Social<span>Plus</span></span></a>
                <h5 class="text-muted m-t-0 font-600">Connect To Social Media World</h5>
            </div>
        	<div class="m-t-40 card-box">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Confirm Email</h4>
                </div>
                <div class="panel-body text-center">
                    <img src="{% static 'images/mail_confirm.png' %}" alt="img" class="thumb-lg m-t-20 center-block" />
					<p class="text-muted font-13 m-t-20"> A email has been send to <b>youremail@domain.com</b>. Please check for an email and click on the included link to reset your password. </p>
                    <p class="text-muted font-13 m-t-20"> If you don't receive an email. Please make sure you've entered the address you register with and check your spam folder. </p>
                </div>
            </div>

			<div class="row">
				<div class="col-sm-12 text-center">
					<p class="text-muted">Return to <a href="page-login.html" class="text-primary m-l-5"><b>Sign in</b></a></p>
				</div>
			</div>

        </div>
{% endblock %}
