{% extends 'loginapp/base_nomenu.html' %}
{% block content %}
<div class="wrapper-page">
    <div class="text-center">
        <a href="{% url 'index' %}" class="logo"><span>Social<span>Login</span></span></a>
        <h5 class="text-muted m-t-0 font-600">Connect To Social Network</h5>
    </div>
    <div class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Reset Password</h4>
            <p class="text-muted m-b-0 font-20 m-t-20">Password reset complete</p>

            <p class="text-muted m-b-0 font-16 m-t-20">Your password has been set. You may go ahead and sign in now. </p>
        </div>
    </div>
    <!-- end card-box -->

    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-muted">Already have account?<a href="page-login.html" class="text-primary m-l-5"><b>Sign
                In</b></a></p>
        </div>
    </div>

</div>
{% endblock %}
