{% extends 'loginapp/base_nomenu.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="wrapper-page">
    <div class="text-center">
        <a href="index.html" class="logo"><span>Social<span>plus</span></span></a>
        <h5 class="text-muted m-t-0 font-600">Connect To Social Media World</h5>
    </div>
    <div class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Reset Password Confirmation</h4>
        </div>
        <div class="p-20">
            {% if validlink %}
            <form class="form-horizontal m-t-20" method="post" action="">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="id_new_password1" class="col-md-4 col-form-label">New Password</label>
                    <div class="col-md-8">
                        {{ form.new_password1|attr:'class:form-control'|attr:'placeholder:New Password' }}
                        {% if form.new_password1.errors %}
                        <ul class="parsley-errors-list filled">
                            {% for error in form.new_password1.errors %}
                            <li class="">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_new_password2" class="col-md-4 col-form-label">Confirm Password</label>
                    <div class="col-md-8">
                        {% render_field form.new_password2 class='form-control' placeholder='Confirm Password' data-parsley-equalto='#id_new_password1' %}
                        {% if form.new_password2.errors %}
                        <ul class="parsley-errors-list filled">
                            {% for error in form.new_password2.errors %}
                            <li class="">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group text-center m-t-40 row">
                    <div class="col-md-12">
                        <button class="btn btn-success btn-block waves-effect waves-light"
                                type="submit">
                            Reset My Password
                        </button>
                    </div>
                </div>
            </form>
            {% else %}
            <div class="panel-body text-center">
                <p class="text-muted font-20 m-t-20"><Strong>Password reset unsuccessful<Pass></Pass></Strong></p>
                <p class="text-muted font-16 m-t-20"> The password reset link was invalid, possible because if has already been used. Please request a new password reset.</p>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- end card-box -->

    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-muted">Already have account?<a href="page-login.html" class="text-primary m-l-5"><b>Sign
                In</b></a></p>
        </div>
    </div>

</div>
{% endblock %}
{% block js %}
<!-- Validation form-->
<script type="text/javascript" src="{% static 'plugins/parsleyjs/dist/parsley.min.js' %}"></script>
<script type="text/javascript">
            $(document).ready(function() {
                $('form').parsley();
            });


</script>
{% endblock %}