{% extends 'loginapp/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}

{% block css %}
{% endblock %}
<!-- Page title -->
{% block topbar %}
<!-- Page title -->
<li class="list-inline-item">
    <h4 class="page-title">Social Users</h4>
</li>
{% endblock %}

{% block sidemenu %}
{% include 'loginapp/app_menu.html' %}
{% endblock %}

{% block content%}
<div class="row">
    <div id="provider-menu" class="col-md-4 p-20 provider-menu">
        <ul class="list-unstyled m-t-40 position-fixed list-group">
            {% for k, v in profiles.items %}
            <li><a href="#{{ k }}" class="list-group-item active-css">{{ k }}<i class="fas fa-angle-right float-right"></i></a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8">
        <div class="text-center card-box">
            <div id="social-users" data-spy="scroll" data-target="#provider-menu" data-offset="10">
                <img src="/static/images/ninja.png" class="rounded-circle thumb-xl img-thumbnail m-b-10"
                     alt="profile-image">
                {% for provider, profile in profiles.items %}
                <div id="{{ provider }}" class="card-box word-wrap card-box-custom">
                    <div class="text-left">
                        <img src="/static/images/social-icon/{{ provider }}.png"
                             class="rounded-circle thumb-md img-thumbnail m-b-10 m-t-10"
                             alt="provider-image">
                    </div>
                    <div class="p-20">
                        {% for key, value in profile.items %}
                        {% type_of value as type %}
                        {% if type != 'dict' %}
                        <div class="row">
                            <div class="col-md-3 text-right"><p class="font-13"><strong>{{ key }} :</strong></p></div>
                            <div class="col-md-9 text-left">{{ value }}</div>
                        </div>
                        {% elif type == 'dict' %}
                        <div class="row">
                            <div class="col-md-3 text-right"><p class="font-13"><strong>{{ key }} :</strong></p></div>
                            <div class="col-md-9"><p></p>
                                {% for k, v in value.items %}
                                <p class="font-13 text-left"><strong>{{ k }} :</strong> <span
                                        class="m-l-15">{{ v }}</span></p>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<!--My js-->
<script type="text/javascript">
$(document).ready(function(){
    $('body').scrollspy({ target: '#provider-menu' })
    $('#provider-menu a.active').parent().css('border-left', 'solid 2px #E73434');
    $('.active-css').click(function(){
        $(this).parent().parent().children().each(function(){
            $(this).css('border-left', 'solid 1px #dcd8d8');
        })
        $(this).parent().css('border-left', 'solid 2px #E73434');
    });
    $('window').scroll(function(){
        $('#provider-menu a.active').parent().css('border-left', 'solid 2px #E73434');
    });
})
</script>
{% endblock %}