{% extends 'loginapp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
<!-- Sweet Alert css -->
<link href="{%static 'plugins/sweet-alert/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{%static 'plugins/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
<!-- Page title -->
{% block topbar %}
<!-- Page title -->
<li class="list-inline-item">
    <h4 class="page-title">User Statistic</h4>
</li>
<ul class="list-unstyled topbar-right-menu float-right mb-0">
    <li class="list-inline-item">
        <div class="app-list-select">
            <div class="dropdown">
                <button type="button" class="btn btn-primary btn-bordred dropdown-toggle waves-effect waves-light"
                        data-toggle="dropdown" aria-expanded="false"><span style=" float: left;"><i
                        class="mdi mdi-layers"></i></span>{{ app.name }}
                </button>
                <div class="dropdown-menu app-navigation">
                    <!-- item-->
                    {% for option in apps %}
                    <a href="{% url 'statistic_login' option.id %}" class="dropdown-item">{{ option.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </li>
</ul>
{% endblock %}

{% block sidemenu %}
{% include 'loginapp/app_menu.html' %}
{% endblock %}

{% block content%}
<div class="row">
    <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong> {{ message }} </strong>
        </div>
        {% endif %}
        {% endfor %}

        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong> {{ message }} </strong>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-12 m-b-20">
        <div class="card-box table-responsive">
            <table id="statistic-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="no-order">No</th>
                    <th>User ID</th>
                    <th class="social-user-detail">Social ID</th>
                    <th>Last Login</th>
                    <th>Login Count</th>
                    {% for provider_name in provider_names %}
                    <th class="no-order provider-datatable" style="text-transform: capitalize;">
                        {% with src='/images/social-icon/'|add:provider_name|add:'.png'%}
                        <img src="{% static src %}" alt="{{ provider_name }}" width="36" height="36"
                             style="border-radius: 50%;">
                        {% endwith %}
                    </th>
                    {% endfor %}
                    <th class="no-order action-datatable">Action</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <!--social user detail modal-->
    <div id="social-user-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="social-user-detail"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-custom-width">
            <div class="modal-content">
                <div class="modal-header m-b-20">
                    <h4 class="modal-title" id="social-user-detail">Social Users</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="text-center">
                    <div id='social-users'>
                        <img src="{% static '/images/ninja.png'%}"
                             class="rounded-circle thumb-xl img-thumbnail m-b-10" alt="profile-image">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}

{% block js %}
<!-- Validation form-->
<script type="text/javascript" src="{% static 'plugins/parsleyjs/dist/parsley.min.js' %}"></script>

<!-- Datatables Js-->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %} "></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap4.min.js' %} "></script>
<!--My js-->
<script src="{% static 'js/my.js' %} "></script>
<script type="text/javascript">
$(document).ready(function(){
    loadInitialStatisticTable()
})
function loadInitialStatisticTable(){
    if ($.fn.DataTable.isDataTable('#statistic-table')) return;

    $('#statistic-table').DataTable({
        'lengthMenu': [25,50,100],
        'autoWidth': false,
        'processing': true,
        'serverSide': true,
        'deferLoading': 0,
        'ajax': {
              'url': '{% url 'statistic_login' app.id %}',
              'method': 'GET',
              'data': function(d){
                d.flag_loading = 'load-data'
              }
        },
        'order': [[ 1, 'asc' ]],
        'columnDefs': [
            {orderable: false, targets: 'no-order' },
            {
                'targets': 'provider-datatable',
                'render': function ( data, type, row ) {
                    if (data == 1) return '<span class="text-success"><i class="mdi mdi-24px mdi-check-circle"></i></span>'
                    else return ''
                }
            },
            {
                'targets': 'social-user-detail',
                'render': function ( data, type, row ) {
                    var social_id = data.split('|')[0];
                    var prohibited = data.split('|')[1]
                    if (prohibited != '1'){
                        return '<a class="clickable" href="javascript:void(0);" onclick="showUserDetailModal(this)">'+social_id+'</a>'
                    }else{
                        return '<span class="text-muted">'+social_id+'</span>'
                    }
                }
            },
            {
                'targets': 'action-datatable',
                'render': function (data, type, row){
                    var app_id = data.split('|')[0];
                    var social_id = data.split('|')[1];
                    var scope_id = data.split('|')[2];
                    if (scope_id != ''){
                        return '<li class="list-inline-item"><form method="POST" action="{%url "delete_user_social" app.id %}">{% csrf_token %}<input type="hidden" value='+app_id+' name="app_id"><input type="hidden" value='+social_id+' name="social_id"><button data-toggle="tooltip" data-placement="bottom" data-original-title="Delete user" class="text-danger button-icon clickable" onclick="deleteConfirm(event)" type="submit"> <i class="fas fa-user-slash"></i></button></form></li><li class="list-inline-item"><form method="POST" action="{%url "delete_user_social_info" app.id %}">{% csrf_token %}<input type="hidden" value='+app_id+' name="app_id"><input type="hidden" value='+social_id+' name="social_id"><button data-toggle="tooltip" data-placement="bottom" data-original-title="Delete user info" class="text-danger button-icon clickable" onclick="deleteConfirm(event)" type="submit"> <i class="fas fa-folder-minus"></i></button></form></li>'
                    }else{
                        return '<li class="list-inline-item"><button data-toggle="tooltip" data-placement="bottom" data-original-title="Delete user" class="text-secondary button-icon" type="submit"> <i class="fas fa-user-slash"></i></button></li><li class="list-inline-item"><button data-toggle="tooltip" data-placement="bottom" data-original-title="Delete user info" class="text-secondary button-icon" type="submit"> <i class="fas fa-folder-minus"></i></button></form></li>'
                    }
                }
            },
        ],
        language: {
        searchPlaceholder: "User ID"
        },
        "drawCallback": function( settings ) {
            $('[data-toggle="tooltip"]').tooltip();
        },
    }).draw();
}

function showUserDetailModal(element){
    $('.text-left').remove();
    social_id = $(element).text();
    $.ajax({
        url: '{% url "social_users_detail" %}',
        data: {'social_id': social_id},
        type: 'get',
        cache: false,
        success: function(data){
            var html='';
            Object.keys(data).forEach(function(key1){
                 var html_detail='<div class="text-left card-box word-wrap"><img src="/static/images/social-icon/'+key1+'.png" class="rounded-circle thumb-md img-thumbnail m-b-10 m-t-10" alt="provider-image">';
                 Object.keys(data[key1]).sort().forEach(function(key2){
                    var value = '';
                    if(typeof data[key1][key2] == 'object'){
                        Object.keys(data[key1][key2]).forEach(function(key3){
                            value += '<p class="font-13"><strong>'+key3+' :</strong> <span class="m-l-15">'+data[key1][key2][key3]+'</span></p>';
                        })
                        value = '<p></p>'+value;
                    }else{
                        value = data[key1][key2];
                    }
                    html_detail += '<div class="row"><div class="col-md-3"><p class="font-13"><strong>'+key2+' :</strong> </p></div><div class="col-md-9">'+value+'</div></div>';
                 });
                 html_detail += '</div>';
                 html += html_detail;
            });
            $('#social-users').append(html);
        },
        error: function(data){
            alert('get data error')
        }

    });
    $('#social-user-modal').modal('show');
}
</script>
{% endblock %}